* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 20px 0;
}

/* navbar section start here */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left img {
    width: 120px;
    cursor: pointer;
}

.nav-link {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-link li a {
    text-decoration: none;
    color: #575757;
    font-size: 16px;
}

.nav-btn {
    background: #2457F5;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

/* hero banner section start here */

.hero-banenr-container {
    width: 100%;
    height: 100vh;
    background: url("../assets/banner.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    position: relative;
    margin: 20px 0;
}


.hero-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    width: 900px;
    text-align: center;
    color: #fff;
}

.banner-title {
    font-size: 80px;
    margin-bottom: 20px;
}

.hero-content span {
    font-style: italic;
}

.hero-banner-des {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
    ;
}

.hero-banner-btn {
    padding: 18px 45px;
    width: fit-content;
    border: none;
    border-radius: 10px;
    background: #1D4ED8;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.speakers-info-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.speaker-info {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.speaker-info img{
    width: 100%;
}
.speaker-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.speaker-tag{
    color: #2563EB;
    font-weight: 500;
    font-size: 12px;
}
.speaker-name{
    color: #0D1B2A;
    font-weight: bold;
    font-size: 20px;
}
.speaker-des{
    color: #575757;
    font-size: 14px;
}
.speakers-heading{
    font-size: 56px;
    font-weight: bold;
    color: #000102;
    text-align: center;
    padding-bottom: 30px ;
}


/* pricing section start here */

.pricing{
    width:100%;
    padding:80px 8%;
}

.title{
    text-align:center;
    margin-bottom:60px;
}

.title h2{
    font-size:60px;
    color:#162338;
    margin-bottom:15px;
    font-weight:700;
}

.title p{
    color:#6b7280;
    font-size:20px;
}

.pricing-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    width:360px;
    border:1px solid #e5e7eb;
    border-radius:15px;
    padding:35px;
    background:#fff;

    display:flex;
    flex-direction:column;
}

.card h5{
    color:#8c8c8c;
    font-size:15px;
    margin-bottom:15px;
    letter-spacing:1px;
}

.card h1{
    font-size:60px;
    color:#162338;
}

.card span{
    color:#777;
    margin-top:8px;
}

.card hr{
    margin:25px 0;
    border:none;
    border-top:1px solid #e5e7eb;
}

.card ul{
    list-style:none;
    flex:1;
}

.card ul li{
    margin-bottom:20px;
    color:#444;
    font-size:17px;
    display:flex;
    align-items:center;
    gap:12px;
    line-height:1.5;
}

.card ul li i{
    font-size:7px;
    color:#2f66ff;
}

.card button{
    width:100%;
    height:50px;
    border-radius:10px;
    border:1px solid #2f66ff;
    background:#fff;
    color:#2f66ff;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}
.card-midle{
    background:#132234;
    color:#fff;
    border:none;
}

.card-midle h5{
    color:#7bb1ff;
}

.card-midle h1{
    color:#fff;
}

.card-midle span{
    color:#c5cbd4;
}

.card-midle hr{
    border-top:1px solid rgba(255,255,255,.15);
}

.card-midle ul li{
    color:#fff;
}

.card-midle button{
    background:#2f66ff;
    color:#fff;
    border:none;
}

